.box {
  width: 400px;
  height: 300px;
  background-color: salmon;
  margin: auto 0;
}

#the-heading {
  color: white;
  font-size: 30px;
  width: 100%;
  border: 1px solid green;
}

#timer {
  font-size: 1800%;
}

#start {
  font-size: 750%;
}

#break {
  font-size: 750%;
  background-color: red;
  display: none;
}

#long_break {
  font-size: 750%;
  background-color: red;
  display: none;
}

#stop {
  font-size: 750%;
  background-color: red;
}

#reset {
  font-size: 750%;
  background-color: orange;
}

body {
  background: url(../image/tomato.jpg)
}

p {
  padding-left: 50px;
  margin-top: -60px;
}

.container {
  padding-left: 120px;
}

.key_instructions {
  color: purple;
  float: left;
  margin-right: 200px;
  padding-top: 80px;
  display: inline;
}
